.duck {
  color: gold;
  font-family: times;
  font-size: 1.5em;
  font-weight: bold;
  border: 5px solid purple;
  padding: 10px;
  margin: 10px;
  background-color: crimson;
}

.duck p {
  font-style: italic;
}

.log {
  color: brown;
  font-family: monospace;
  font-size: 1.5em;
  border: 10px dotted black;
  padding: 10px;
  margin: 35px;
  background-color: green;
}

.log h3 {
  font-family: fantasy;
}

.about {
  font-family: sans-serif;
  text-align: center;
  font-style: italic;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 3em;
}
